/* General Styles */
body {
    font-family: 'Amazon Ember', Arial, sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Heading */
.heading p {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 24px;
    border-bottom: 2px solid black;
}

/* Book Section */
.book {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.book img {
    max-width: 300px;
    margin-right: 100px;
}

.book-align {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.book-title {
    font-size: 24px;
    font-weight:bold;
    color: #111;
    margin: 10px 0;
}

/* Book Links and Additional Info */
.book-links, .additional-info {
    margin: 10px 0;
}

.book-links p, .additional-info p {
    font-weight: bold;
    margin: 5px 0;
}

.buy-now-link {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    transition: background-color 0.3s, color 0.3s;
}

.buy-now-link:hover {
    background-color: white;
    color: black;
}

/* Good Reads */
.good-reads {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.good-reads img {
    max-width: 45px;
    margin-right: 10px;
}

.good-reads-rating {
    font-size: 16px;
    color: #111;
}

/* Add to Favorites */
form {
    margin-top: 10px;
}

form button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

form button:hover {
    background-color: white;
    color: black;
}
