{% extends 'library/base.html' %} {% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
            <div class="card rounded-0">
                <div class="card-header">
                    <div class="card-title text-center h3 b-0" style="color: black;">Registration</div>

                </div>
                <div class="card-body">
                    <div class="contaier-fluid">
                        <form action="{% url 'register' %}" method="post" id="registration-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="first_name" class="control-label" style="color: black;">First Name:</label>
                                <input name='first_name' id="first_name" class="form-control" type="text" required>
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="control-label" style="color: black;">Last Name:</label>
                                <input name='last_name' id="last_name" class="form-control" type="text" required>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="control-label" style="color: black;">Username:</label>
                                <input name='username' class="form-control" type="text" id="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="control-label" style="color: black;">Email:</label>
                                <input name='email' class="form-control" type="text" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="control-label" style="color: black;">Password:</label>
                                <input name='password' id="password" class="form-control" type="password" required>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-sm btn-primary rounded-0 w-100" type='submit' style="background-color:black">Create Account</button>
                            </div>
                        </form>
                        {% if errors %}
                        <p style="color: red">{{ errors }}</p>
                        {% endif %}
                        {% if message %}
                        <p style="color: green">{{ message }}</p>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}