body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.book {
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.book-cover {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-title {
    font-size: 18px;
    margin: 10px 0;
}

.book-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.book-links {
    margin: 10px 0;
}


.buy-now-link {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 7px 14px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 0;
    transition: background-color 0.3s, color 0.3s;
}

.buy-now-link:hover {
    background-color: rgb(200, 200, 200);
    color: black;
}
.good-reads-icon {
    width: 32px;
    height: 32px;
}


.good-reads {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.good-reads-rating {
    margin-left: 5px;
    margin-top:8px;
    font-size: 16px;
    color: #333;
}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.not-found-content {
    text-align: center;
}

.not-found {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.not-found-message {
    font-size: 20px;
    color: #555;
}
