body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.heading{
    font-size:35px;
    font-weight: bold;
}

.container {
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.book img {
    max-width:400px;
    height: auto;
    margin-bottom: 10px;
}

.book-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}


.book-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.buy-now-link {
    padding-top:20px;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    width: 150px;
    height: 70px;
}


.buy-now-icon-amazon,
.buy-now-icon-flipkart {
    padding-top:4px;
    width: 90%;
    display: block;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.buy-now-icon-amazon:hover{
    transform: scale(1.1);
}
.buy-now-icon-flipkart:hover{
    transform: scale(1.1);
}

.good-reads {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.good-reads-icon {
    padding-top:10px;
    width:19%;
}
.good-reads-rating{
    font-size: 17px;
    font-weight: bold;
}

.good-reads-icon:hover {
    transform: scale(1.1);
}

.good-reads:hover .good-reads-rating {
    font-weight: bold;
    color: blue;
}

.book-align{
    display:flex;
    justify-content: center;
}